<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>EXAMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="../public/assets/css/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">GET YOUR CAMPUS</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
                    <li><a href="index.html">Login</a></li>
					<li><a href="index.html">Home</a></li>
					<li><a href="colleges.html">Colleges</a></li>
					<li><a href="Rankings.html">Rankings</a></li>
					<li><a href="Exams.html">Exams</a></li>
					<li><a href="forum.html">Forum</a></li>
					<li><a href="counselors.html">Counselors</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Counselors</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="media">
                        <img src="../public/images/bk.jpg" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0">Bhaskar Karn</h5>
                          Professor, BIT Mesra
                          <br />
                          Contact : abc@xyz.com
                          <br />
                          Business no : 1111111111
                          <br />
                          An expert in the field of Computer Engineering,  he has an experience of about 30+ years in teaching students across the country. Currently a professor in BIT Mesra, he has been  counselling students for the past 10 years.
                          <br />
                          <hr /> 
                          <div class="media mt-3">
                            <a class="mr-3" href="#">
                              <img src="../public/images/pic01.jpg" style="width:100px; height:100px" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                              <h5 class="mt-0">Anjali Rana</h5>
                              "An immense pleasure working with such a qualified and humble person. He provided insights into subjects I didn't know I needed."
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <hr />
                      <br />
                      <br />
                      <br />
                      <br />
                      <div class="media">
                        <img src="../public/images/im.jpg" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0">Indrajit Mukherjee</h5>
                          Professor, NIT Jamshedpur
                          <br />
                          Contact : abc@xyz.com
                          <br />
                          Business no : 1111111111
                          <br />
                          An expert in the field of Mechanical Engineering,  he has an experience of about 10+ years in teaching students across the country. Currently a professor in NIT Jamshedpur, he has been  counselling students for the past 2 years.
                          <br />
                          <hr /> 
                          <div class="media mt-3">
                            <a class="mr-3" href="#">
                              <img src="../public/images/pic02.jpg" style="width:100px; height:100px" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                              <h5 class="mt-0">Amrita Singh</h5>
                              "He has been a corner stone in my transition from a school student to a college student. Not only did he help choose the right college, but I also credit him for helping me choose the right branch."
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <hr />
                      <br />
                      <br />
                      <br />
                      <br />
                      <div class="media">
                        <img src="../public/images/idr.jpg" class="mr-3" alt="...">
                        <div class="media-body">
                          <h5 class="mt-0">Indra Deo Ram</h5>
                          Professor, IIT Dhanbad
                          <br />
                          Contact : abc@xyz.com
                          <br />
                          Business no : 1111111111
                          <br />
                          An expert in the field of Chemical Engineering,  he has an experience of about 20+ years in teaching students across the country. Currently a professor in IIT Dhanbad, he has been  counselling students for the past 15 years.
                          <br />
                          <hr /> 
                          <div class="media mt-3">
                            <a class="mr-3" href="#">
                              <img src="../public/images/pic03.jpg" style="width:100px; height:100px" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                              <h5 class="mt-0">Dhruv Sharma</h5>
                              "A man who knows the boundary between mentor and friend. Constantly guided me in my tough decision between the institutes that i got admitted to. Today, I understand that he helped me make the rigth decision."
                            </div>
                          </div>
                        </div>
                      </div>
				</div>
			</section>

			<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <div class="content">
                        <section>
                            <h3>This is just the start.</h3>
                            <p>Explore our website to avail the various services that we have to offer.</p>
                        </section>
                        <section>
                            <h4>More</h4>
                            <ul class="alt">
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Colleges</a></li>
                                <li><a href="#">Counselors</a></li>
                            </ul>
                        </section>
                        <section>
                            <h4>Find Us</h4>
                            <ul class="plain">
                                <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                                <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                                <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                                <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="copyright">
						&copy; Designed by DRNS</div>
                </div>
            </footer>
		<!-- Scripts -->
		<!-- Scripts -->
			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/browser.min.js"></script>
			<script src="../public/assets/js/breakpoints.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>

	</body>
</html>