<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Colleges</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="../public/assets/css/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">GET YOUR CAMPUS</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
          <li><a href="index.html">Login</a></li>
					<li><a href="index.html">Home</a></li>
					<li><a href="colleges.html">Colleges</a></li>
					<li><a href="Rankings.html">Rankings</a></li>
					<li><a href="Exams.html">Exams</a></li>
					<li><a href="forum.html">Forum</a></li>
					<li><a href="counselors.html">Counselors</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Indian Institute of Information Technology, Ranchi</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <img src="../public/images/IIITR.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../public/images/IIITR1.jpg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                          </div>
                          <hr />
                        <header>
							<h2>About</h2>
						</header>
						<p>Indian Institute of Information Technology, Ranchi (IIIT Ranchi or IIITR), is one of the Indian Institutes of Information Technology, a chain of higher education institutes started by Government of India focused on Information Technology. It is an "Institute of National Importance", equaling in status with the IITs.

                            At present, IIIT Ranchi is operating in premises of NIT Jamshedpur that happens to be the mentor Institute since July 2016. Government of Jharkhand has allotted a temporary independent campus at Namkum, Ranchi and main campus of 52 acres at Kanke, Ranchi. Temporary campus will be functional within a year and main campus at Kanke by year 2021.</p>
						<hr />
						<h2>Year of Establishment</h2>
                        <p>2016</p>
                        <hr />
						<h2>How to Reach</h2>
						<p>Nearest Airport: Birsa Munda Airport, Ranchi

                            Distance from Airport: 155km
                            
                             <br />
                             Nearest Railway Station: Tatanagar Junction Railway Station

                             Distance from Railway Station: 9km
                        <br />
                    
                        </p>
                        <hr />
						<h2>MODE OF ADMISSION</h2>
						<p><ol>
                            <li>One needs to take the JEE (Main) exam and either secure at least 75% marks (65% for SC/ST/PwD) in Class XII or be within the category-wise top 20 percentile in his/her respective Class XII board examination.
                            </li>
                            <li>Admissions are done on the basis of rank in JEE (Main) through JoSAA Counselling and CSAB Special Round.</li>
                           
                        </ol></p>
                        <hr />
						<h2>Latest Cutoffs</h2>
						<p><table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Branch </th>
                                <th scope="col">Open</th>
                                <th scope="col">Close</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Computer Science and Engineering</th>
                                <td>18478</td>
                                <td>31169</td>

                              </tr>
                              <tr>
                                <th scope="row">Electronics and Communication Engineering</th>
                                <td>10594</td>
                                <td>12963</td>
                              </tr>
                              </tbody>
                          </table></p>
					
					
                        </div>
				</div>
			</section>

			<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <div class="content">
                        <section>
                            <h3>This is just the start.</h3>
                            <p>Explore our webiste to avail the various services that we have to offer.</p>
                        </section>
                        <section>
                            <h4>More</h4>
                            <ul class="alt">
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Colleges</a></li>
                                <li><a href="#">Counselors</a></li>
                            </ul>
                        </section>
                        <section>
                            <h4>Find Us</h4>
                            <ul class="plain">
                                <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                                <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                                <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                                <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="copyright">
                      &copy; Designed by DRNS</div>
                </div>
            </footer>
		<!-- Scripts -->
		<!-- Scripts -->
			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/browser.min.js"></script>
			<script src="../public/assets/js/breakpoints.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>

	</body>
</html>