<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Colleges</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="../public/assets/css/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">GET YOUR CAMPUS</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
          <li><a href="index.html">Login</a></li>
					<li><a href="index.html">Home</a></li>
					<li><a href="colleges.html">Colleges</a></li>
					<li><a href="Rankings.html">Rankings</a></li>
					<li><a href="Exams.html">Exams</a></li>
					<li><a href="forum.html">Forum</a></li>
					<li><a href="counselors.html">Counselors</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Indian Institute of Technology, Dhanbad</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <img src="../public/images/IITD.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../public/images/IITD1.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../public/images/IITD2.jpg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                          </div>
                          <hr />
                        <header>
							<h2>About</h2>
						</header>
						<p>The Indian Institute of Technology, Dhanbad (abbreviated as IIT (ISM)[3]) is a public engineering and research institution located in Dhanbad, India. It was formerly known as Indian School of Mines and was a Central University before it was converted into an Indian Institute of Technology (IIT) and an Institute of National Importance.

                            IIT is located in the mineral-rich region of India, in the city of Dhanbad. It is the third oldest institute (after IIT Roorkee,and IIT (BHU) Varanasi) which got converted into an IIT. It was established by British Indian Government on the lines of the Royal School of Mines - London, and was formally inaugurated on 9 December 1926 by Lord Irwin, the then Viceroy of India.</p>
						<hr />
						<h2>Year of Establishment</h2>
                        <p>1926</p>
                        <hr />
						<h2>How to Reach</h2>
						<p>Nearest Airport: Kazi Nazrul Islam Airport, Durgapur

                            Distance from Airport: 96km
                            
                             
                            <br />
                            Next Nearest Airport: Birsa Munda Airport, Ranchi
                            
                            Distance from Airport: 159km
                        
                            <br />
                            Nearest Railway Station: Dhanbad (Junction) Railway Station

                            Distance from Railway Station: 3km
                            <br />
                             
                            
                            Next Nearest Railway Station: Howrah Railway Station, Kolkata
                            
                            Distance from Railway Station: 266km
                        
                        <br/></p>
                        <hr />
						<h2>MODE OF ADMISSION</h2>
						<p><ol>
                            <li>It is a two-step process. One needs to qualify the JEE (Main) exam and then take the JEE (Advanced) exam.
                            </li>
                            <li>One must have secured at least 75% marks (65% for SC/ST/PwD) in Class XII OR One must be within the category-wise top 20 percentile in his/her respective Class XII board examination.</li>
                            <li>
                                Admissions are done on the basis of rank in JEE (Advanced) through JoSAA Counselling.
                            </li>
                        </ol></p>
                        <hr />
						<h2>Latest Cutoffs</h2>
						<p><table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Branch </th>
                                <th scope="col">Open</th>
                                <th scope="col">Close</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Chemical Engineering</th>
                                <td>6065</td>
                                <td>6981</td>

                              </tr>
                              <tr>
                                <th scope="row">Civil Engineering</th>
                                <td>6146</td>
                                <td>6919</td>
                              </tr>
                              <tr>
                                <th scope="row">Computer Science and Engineering</th>
                                <td>1350</td>
                                <td>3060</td>
                              </tr>
                              <tr>
                                <th scope="row">Electronics and Communications Engineering</th>
                                <td>3463 </td>
                                <td>5208</td>
                              </tr>
                            </tbody>
                          </table></p>
					
					
                        </div>
				</div>
			</section>

			<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <div class="content">
                        <section>
                            <h3>This is just the start.</h3>
                            <p>Explore our webiste to avail the various services that we have to offer.</p>
                        </section>
                        <section>
                            <h4>More</h4>
                            <ul class="alt">
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Colleges</a></li>
                                <li><a href="#">Counselors</a></li>
                            </ul>
                        </section>
                        <section>
                            <h4>Find Us</h4>
                            <ul class="plain">
                                <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                                <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                                <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                                <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="copyright">
                      &copy; Designed by DRNS</div>
                </div>
            </footer>
		<!-- Scripts -->
		<!-- Scripts -->
			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/browser.min.js"></script>
			<script src="../public/assets/js/breakpoints.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>

	</body>
</html>