<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Get Your Campus</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../public/assets/css/main.css"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">Get your Campus</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
                    <li><a href="index.html">Login</a></li>
					<li><a href="index.html">Home</a></li>
					<li><a href="colleges.html">Colleges</a></li>
					<li><a href="Rankings.html">Rankings</a></li>
					<li><a href="Exams.html">Exams</a></li>
					<li><a href="forum.html">Forum</a></li>
					<li><a href="counselors.html">Counselors</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>GET YOUR CAMPUS</h1>
					<p>Everything you need to know about every college you know about!
						</p>
				</div>
				<video autoplay loop muted playsinline src="../public/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Take the Right Decisions</h2>
						<p>Make sure you choose the right college! We are here to help.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content" >
								<header>
									<a href="colleges.html" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Colleges</h3>
								</header>
								<p>A detailed list comprising of all the colleges in the state.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="Exams.html" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Exams</h3>
								</header>
								<p>The exams you need to pay attention to.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="Counselors.html" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Counselors</h3>
								</header>
								<p>Choose the right counselor.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Forum</h3>
								</header>
								<p>Got a query? Ask around.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="Rankings.html" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Rankings</h3>
								</header>
								<p>Top colleges of the state.</p>
							</div>
						</section>
						
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Why get Counselling?</h2>
					<p>A big part of our offering is the fact that we have our experts who will
						help you find the right college for your needs. </p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Meet our Counselors</h2>
						<p>These people have an experience of 20+ years in their respective fields. We guarantee thier credentials!</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>College is important. But what is more important is the right one.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../public/images/bk.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Bhaskar Karn</strong> <span>Professor, BIT Mesra</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Getting into the right stream is more important than the college you are going to.</p></blockquote>
								<div class="author">
									<div class="image">
										<img src="../public/images/im.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Indrajit Mukherjee</strong> <span>Professor, NIT Jamshedpur</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>The right college? The right branch? Let's take that question up when we talk next.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../public/images/idr.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Indra Deo Ram</strong> <span>Professor, IIT Dhanbad</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>This is just the start.</h3>
							<p>Explore our webiste to avail the various services that we have to offer.</p>
						</section>
						<section>
							<h4>More</h4>
							<ul class="alt">
								<li><a href="#">Forum</a></li>
								<li><a href="#">Colleges</a></li>
								<li><a href="#">Counselors</a></li>
							</ul>
						</section>
						<section>
							<h4>Find Us</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Designed by DRNS
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/browser.min.js"></script>
			<script src="../public/assets/js/breakpoints.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>

	</body>
</html>