<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Landing Page
        </title>
    </head>
    <body>
        <h3>
            Landing Page!
        </h3>
        <a href="/admin/login">Admin</a>
        <a href="/rankings">Rankings</a>
    </body>
</html>